<div class="container">

  <h1>Conditions de livraison et de retour</h1>
  <p>CLR est une plateforme web qui donne les conditions de livraison et de retour des principaux marchands du web.
  L'objectif est de faire gagner du temps aux millions d'acheteurs online qui cherchent les conditions de livraison et de retour.</p>

  <h2> Sous-titre </h2>

</div>
